
/* Nav starts */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav3 a{
    margin-right: -7rem;
    color: #0065FE;
}
a {
    text-decoration: none;
    margin-left: 120px;
}
nav.navHead a {
    color: black;
}
.navButton {
    margin-left: 120px;
    background-color:  #0065FE;
    color: white;
    border-radius: 8px;
    border: 1px solid  #0065FE;
}
/* Nav ends */



.hero_section {
    position: relative;
    text-align: center;
}
.headButton {
    background-color: #0065FE;
    color: white;
    border-radius: 8px;
    border: 1px solid  #0065FE;
}
.subHeading span {
    color: #0065FE;
}
.subHeading {
    display: flex;
}
.subHeadingContent {
  margin-left: 150px;
}
.subHeadingImage {
    margin-left: 600px;
}
.firstHeading h1 span {
    color: #0065FE;
}
.firstHeadingPage {
    display: flex;
}
.secondHeading {
    display: flex;
    justify-content: center;
    text-align: center;
}
.secondHeading span{ 
    color: #0065FE;
}
.pricingSection {
    display: flex;
    justify-content: center;
    text-align: center;  
}
.pricingSection #price {
    display: flex;
    justify-content: center;
    text-align: center;
}
.pricingButton #price {
    border: 1px solid #0065FE;
    border-radius: 8px;
}
.pricingButton #first {
    color: #0065FE;
}
.pricingButton #first {
    color:white;
}
.thirdHeading p {
    color: #0065FE;
}
.thirdHeading p span {
    font-weight: bolder;
}
.fifthHeading {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    /* color: white; */

}
.fifthHeading #startedButton {
    border-radius: 8px;
    /* border: 1px solid #0065FE; */
    /* background-color: #0065FE; */
    color: white;
}

.sixHeading {
    display: flex;
}
/* .footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
} */