
  @font-face {
    font-family : "Gilroy";
    src: url("assets/Gilroy-Regular.ttf")
  }
  body {
    font-family : "Gilroy";
    margin: 0px 100px;
  } 
/* Nav starts */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav3 a{
    margin-right: -7rem;
    color: #0065FE;
    margin-bottom: 100px;
    /* font-size: 20px; */
}
a {
    text-decoration: none;
    margin-left: 70px;
}
nav .navHead a {
    color: black;
}
nav #myUrl {
    color : #0065FE;
}
.navButton {
    margin-left: 120px;
    background-color:  #0065FE;
    color: white;
    border-radius: 20px;
    border: 1px solid  #0065FE;
    padding: 10px 30px;
}

/* Nav ends */

.heroSection {
    position: relative;
    text-align: center;
}
.heroSection h1 {
    font-size: 40px;
}
.heroSection .subTopic {
    color: #0065FE;
    position: relative;
}
.subTopic img {
    position:absolute;
    bottom: -17px;
    left: 50%;
    transform: translateX(-50%);
}
.headButton {
    background-color: #0065FE;
    color: white;
    border-radius: 20px;
    border: 1px solid  #0065FE;
    padding: 10px 30px;
}
.subHeadButton {
    color: #0065FE;
}
.subHeading span {
    color: #0065FE;
}
.subHeading {
    display: flex;
    margin-top: 50px;
}
.subHeadingImage {
    margin-left: 200px;
}
.firstHeading h1 span {
    color: #0065FE;
}
.firstHeadingPage {
    display:flex;
    justify-content:center;
    align-items: center;
}

.subfirstHeading {
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
}

.subTopic_3 {
    margin-left: 100px;
}
.secondHeading {
    display: flex;
    justify-content: center;
    text-align: center;
}
.secondHeading span{ 
    color: #0065FE;
} 
.pricingSection {
    display: flex;
    justify-content: center;
    margin: 20px;
}

ul {
    list-style: none;
    
}

.pricingSection{
    display: flex;
    align-items: center;
    justify-content: center;
} 

.price_1, .price_3 {
    border: 1px solid #0065FE;
    border-radius: 10px;
    width: 350px;
    height:400px;
    padding-top: 50px;   
}
.price_1 p, .price_2 p, .price_3 p,
.price_1 h1, .price_2 h1, .price_3 h1{
    padding-left: 30px;
    
}
.price_2 {
    border: 1px solid #0065FE;
    background-color: #20344c;
    color: white;
    width: 350px;
    height: 500px;
    border-radius: 10px;
    padding-top: 50px;  
}

.pricingButton #first {
    color:white;
}

.priceButton {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#first , #second {
    border : 1px solid #0065FE;
    border-radius: 25px;
    padding : 10px 30px;
}
.priceButton #first {
    margin-right: 20px;
    color:#0065FE;
}
.priceButton #second {
    background-color: #0065FE;
    color: white;
}

.thirdHeading {
    background-color: #20344c;
    height: 500px;
    padding-top: 50px;
    margin: auto;
    box-sizing: border-box;
    margin-top: 50px;
    padding : 40px 50px;
    background-color: #20344c; 
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}

.thirdHeading #first{
margin-bottom: 30px;
padding: 15px 10px;
width: 450px;
}

.thirdHeading #second{
    border-radius: 10px;
    border: 1px solid #0065FE;
    width: 200px;
    padding:15px 10px;
    margin-right: 20px;
    color: #0065FE;
    }

.thirdHeading #third{
    border-radius: 10px;
    border: 1px solid #0065FE;
    width: 200px;
    padding:15px 10px;
    margin-bottom: 30px;
    }
.trim{
    border-radius: 30px;
    border: 1px solid #0065FE;
    background-color:#0065FE;
    color: white;
    padding: 15px 10px;
    width:480px;
}

.thirdHeading p  {
    color: #0065FE;
    text-align: center;
}

.thirdHeading p span {
    font-weight: bolder;
}

.form{
    border: 1px solid white;
    border-radius: 10px;
    background-color: white;
    height: 300px;
    padding: 30px 30px;
    
}

.forthHeading {
    position: relative;
    margin-bottom: 40px;
}
#forthimg_1{
    position: absolute;
    top: Opx;
    left:0%;
}
#forthimg_2{
    position: absolute;
    bottom: Opx;
    right:0%;
}
.question h1{
    text-align: center;
    font-size: bolder;
}

.fifthHeading {
    display: flex;
    justify-content: center;
    background-color: #20344c;
    width: 100%;
    height: 300px;
    position: relative;
    flex-direction: column;
    align-items: center;
    
    
}

.fifthHeading h1 {
    color: white;
    text-align: center;
    width: 100%;
}
.fifthHeadingButton {
    width: 100%;
    text-align: center;
}
.revButton{
    background-color: #0065FE;
    border: 1px solid  #0065FE;
    border-radius: 20px;
    color: white;
    padding : 10px 30px;
}
.fifthHeading #startedButton {
    border-radius: 8px;
    color: white;
} 
#fifthImg_1 {
    position: absolute;
    top: Opx;
    left:0%;


}
#fifthImg_2 {
    position: absolute;
    bottom: 0px;
    right:0%;
    

}

.sixHeading {
    display: flex;
}

.footerItemsWrapper{
    display:flex;
    justify-content:flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
    
    
}

.footerItemsWrapper div{
    width: 200px;
}

