
  @font-face {
    font-family : "Gilroy";
    src: url("assets/Gilroy-Regular.ttf")
  }
  body {
    font-family : "Gilroy";
    margin: 0px 100px;
  } 
/* Nav starts */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav3 a{
    margin-right: -7rem;
    color: #0065FE;
    margin-bottom: 100px;
    /* font-size: 20px; */
}
a {
    text-decoration: none;
    margin-left: 70px;
}
nav .navHead a {
    color: black;
}
nav #myUrl {
    color : #0065FE;
}
.navButton {
    margin-left: 120px;
    background-color:  #0065FE;
    color: white;
    border-radius: 20px;
    border: 1px solid  #0065FE;
    padding: 10px 30px;
}

/* Nav ends */



.heroSection {
    position: relative;
    text-align: center;
}

.heroSection .subTopic {
    color: #0065FE;
}
.headButton {
    background-color: #0065FE;
    color: white;
    border-radius: 20px;
    border: 1px solid  #0065FE;
    padding: 10px 30px;
}
.subHeadButton {
    color: #0065FE;
}
.subHeading span {
    color: #0065FE;
}
.subHeading {
    display: flex;
    margin-top: 50px;
}
/* .subHeadingContent {
  margin-left: 150px;
} */
.subHeadingImage {
    margin-left: 200px;
}
.firstHeading h1 span {
    color: #0065FE;
}
.firstHeadingPage {
    display: flex;
    margin-top: 100px;
}
.secondHeading {
    display: flex;
    justify-content: center;
    text-align: center;
}
.secondHeading span{ 
    color: #0065FE;
}
.pricingSection {
    display: flex;
    justify-content: center;
    text-align: center;  
}
.pricingSection #price {
    display: flex;
    justify-content: center;
    text-align: center;
}
.pricingButton #price {
    border: 1px solid #0065FE;
    border-radius: 8px;
}
.pricingButton #first {
    color: #0065FE;
}
.pricingButton #first {
    color:white;
}
.thirdHeading p {
    color: #0065FE;
}
.thirdHeading {
    box-sizing: border-box;
    margin-top: 50px;
    border: 1px solid #0065FE; 
    border-radius: 15px;
    width: 50%;
    height: 50vh;
    padding : 40px 50px;  
}

.thirdHeading #first{
/* border-radius: 10px;
border: 1px solid #0065FE;
margin-bottom: 30px;
padding: 15px 10px;
width: 400px; */
}

.thirdHeading #second{
    /* border-radius: 10px;
    border: 1px solid #0065FE;
    width: 100px;
    padding:15px 10px;
    margin-right: 20px; */
    }

.thirdHeading #third{
    /* border-radius: 10px;
    border: 1px solid #0065FE;
    width: 100px;
    padding:10px 30px;
    margin-bottom: 30px; */
    }

.thirdHeading p span {
    font-weight: bolder;
}
.fifthHeading {
    /* display: flex; */
    justify-content: center;
    text-align: center;
    /* color: white; */

}
.fifthHeading #startedButton {
    border-radius: 8px;
    /* border: 1px solid #0065FE; */
    /* background-color: #0065FE; */
    color: white;
}

.sixHeading {
    display: flex;
}
/* .footerItem {
    display: flex;
    justify-content: center;
    align-items: center;
} */